
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Logo</a>
  </li>

  

<nav>    
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/registration">Signup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
  </li>
</ul>
</nav>

<img  src="../assets/landingpage.jpg" alt="" style="width: 100% ;">



